body{
    background-image: url("../img/loser_land.png");
    background-size: cover;
    background-position: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.cadre {
    width: 18vw;
    height: 26vh;
    background-color: #ab4b4b;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#champs_conn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 26vh;
}

#champs_conn input{
    height: 4.2vh;
    border-radius: 10px;
    width: 13vw;
    border: 0px;
}

#champs_conn input::placeholder {
    padding-left: 1em;
    font-style: italic;
    font-size: 1.5em;
}

#champs_conn button{
    margin-top: 2.4vh;
    height: 4vh;
    width: 13vw;
    border-radius: 20px;
    background-color: black;
    border: 0px;
    color:white;
    font-size: large;
}

#champs_inscription{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 10vh;
}

#champs_inscription p#error {
    color: rgb(175, 0, 0);
    font-size: 2vh;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#champs_inscription p{
    font-size: 1.6vh;
    margin: 0;
}

#inscrire{
    text-decoration: underline;
}

a{
    color:black;
    text-decoration: none;
}
