html, body {
    overflow: hidden;
    margin: 0;
}

.tag {
    position : absolute;
    background-color : rgba(0, 0, 0, 0.5);
    color : white;
    font-size : 2em;
    font-family : sans-serif;
    padding : .15em 1em .2em;
    border-radius : 100px;
}

#indication, #info {
    position : absolute;
    width: 100%;
    text-align: center;

    font-family : sans-serif;
    font-weight: bold;
}

#indication {
    color: white;
    bottom: 100px;
}

#info {
    color: rgb(255, 255, 0);
    bottom: 70px;
}

#chat-input {   
    position : absolute;
    left: 0;
    right: 0;
    margin: auto; 
    bottom: 30px;
    width: 30%;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

#chat {
    position: absolute;
    bottom: 0;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 15px 0px 0px;
    z-index: 1;
}

.message {
    color: white;
    font-family: sans-serif;
    margin: 15px;
}